.quiz-container{
    border: 2px solid goldenrod;
    padding: 15px;
    margin-bottom: 15px;
}
.questions-eye{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}