.topics-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 60px;
}
@media only screen and (max-width: 600px) {
    .topics-container{
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 601px) and (max-width: 980px) {
    .topics-container{
        grid-template-columns: repeat(2, 1fr);
    }
}